/* 
COLOR
primary: #339af0;
primary-light: #4dabf7;
primary-dark: #1c7ed6;

grey-light: #e7f5ff;
grey-dark: #1971c2;
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: linear-gradient(to right, #4dabf7, #339af0);
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	display: flex;
	height: 90vh;
	width: 90vw;
	justify-content: space-between;
	margin: 4vh auto;
	border: 1px solid ghostwhite;
	border-radius: 10px;
	background: white;
}

.sidebar {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 35vw;
	overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

/* create new form */
.form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	background: rgba(25, 112, 194, 0.5);
	border-radius: 5px;
	font-size: 1.6rem;
	transition: 0.7s all ease-in-out;
}

.form label {
	margin-bottom: 0.8rem;
}

.form--title {
	margin-bottom: 1.8rem;
}

.form__input {
	border: none;
	border-radius: 5px;
	height: 30px;
	border-bottom: #0072ff 2px solid;
	transition: 0.1s all;
	padding: 1.6rem 0.8rem;
	margin-bottom: 1.2rem;
}

.form__input:focus {
	color: black;
	outline: none !important;
	border-bottom: 2px solid red;
	font-size: 0.9rem;
}

.form__error {
	color: red;
	margin: 0;
	text-align: center;
}

/* button */
.btn {
	padding: 0.8rem 1.6rem;
	font-size: 1.6rem;
	border: none;
	border-radius: 9px;
	background-color: #e7f5ff;
	border: 3px solid #e7f5ff;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	background: none;
}

.btn-submit {
	align-self: flex-end;
}

.btn--edit {
	background-color: #ffd43b;
	border: 3px solid #ffd43b;
	margin-right: 0.8rem;
}

.btn--reset,
.btn--delete {
	background-color: #ff8787;
	border: 3px solid #ff8787;
	margin-right: 0.8rem;
}

.btn--showAll {
	background-color: #1c7ed6;
	border: 3px solid #1c7ed6;
}

/* work list */
.work--list--item {
	list-style: none;
	padding: 10px;
	background: rgba(25, 112, 194, 0.5);
	border-radius: 10px;
	cursor: pointer;
	border-left: 5px solid black;
	margin: 1.2rem 0;
}

.work--list--title,
.work--list--time {
	margin: 1.2rem 0;
	font-weight: 300;
	font-size: 1.6rem;
}

.work--list--weather {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.4rem;
	color: #eee;
}

.workitem-btn-group {
	margin-bottom: 2rem;
}

/* map */
#map {
	height: 90vh;
	width: 55vw;
	border-radius: 0 10px 10px 0;
}

/* popup */
.popup {
	font-size: 0.8rem;
}

.leaflet-popup .leaflet-popup-content-wrapper {
	background-color: #333;
	color: white;
	border-radius: 5px;
	padding-right: 0.6rem;
	border-left: 5px solid #00c6ff;
}

.leaflet-popup .leaflet-popup-tip {
	background-color: #333;
}

/* global style */
.hidden {
	transform: translateX(-50rem);
	height: 0;
	padding: 0 2.25rem;
	margin-bottom: 0;
	opacity: 0;
}

.copyright {
	margin-top: auto;
	text-align: center;
}

.nav {
	margin-bottom: 10px;
}

@media (max-width: 850px) {
	.container {
		display: block;
		height: auto;
		width: 80vw;
	}

	.sidebar {
		width: auto;
	}

	#map {
		width: 100%;
	}
}
